@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap");

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(40, 40, 40);
}

form {
    width: 100%;
    height: 100%;
    max-height: 80vh;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    background: rgba(60, 60, 60, 0.5);
    font-family: ubuntu;
    font-weight: 300;
}

cite {
    width: 100%;
    text-align: right;
    position: absolute;
    top: 70%;
    right: 10%;
    font-size: 1.3rem;
    font-family: 'ubuntu';
    font-weight: 700;
}

q {
    font-size: 1.3rem;
    text-align: left;
    width: 100%;
    word-wrap: break-word;
    font-family: 'ubuntu';
    font-weight: 400;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 900px;
    max-height: 80vh;
    height: 100%;
}

.brandingContainer {
    position: relative;
    background-image: url("./pexels-valeria-boltneva-1872904.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
}

.logoBackground {
    background: rgba(60, 60, 60, 0.5);
    width: 100%;
    height: 20%;
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoBackground>h1 {
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 2.25rem;
    margin-left: 2%;
    font-family: 'Playfair Display';
}

a:visited {
    color: yellow;
}

.logo {
    width: 50px;
    height: 50px;
}

.quoteAndForm {
    width: 60%;
    background-color: white;
    height: 100%;
}

.quote {
    width: 80%;
    height: 22.5%;
    background: rgba(225, 225, 225, 0.5);
    position: relative;
    padding: 5% 10%;
}